        <div class="flex flex-wrap gap-2 my-8">
          {% endif %}

          {% if site.rrss.email %}
          <a class="p-2" href="mailto:{{site.rrss.email}}">
            <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <rect x="3" y="5" width="19" height="15" rx="2" stroke="" stroke-width="2" stroke-linecap="round"></rect>
              </g>
            </svg>
          </a>
          {% endif %}
        </div>
